body {
    background-color: rgb(230, 230, 233);
    font-family: 'Merriweather Sans', sans-serif;
    color: rgb (34, 34, 34);
}

.foto-perfil {
    width: 200px;
    border: 2px solid rgb(63, 63, 167);
    border-radius: 100px;
} 

h1 {
    margin-bottom: 0px;
    letter-spacing: -1px;
}
h2 {
    margin-top: 0px;
    font-style: italic;
    color: rgb(124, 121, 121);
    font-weight: 600;
    letter-spacing: 1px;
}