body {
    background-color: rgb(239, 236, 241);
    color: rgb (34, 34, 34);
}
.container {
    width: 900px;
    margin: 0 auto;
}
.profile {
    text-align: center;
    margin-bottom: 40px;
}

.social-links {
    text-decoration: none;
}

.foto-perfil {
    width: 200px;
    border: 2px solid rgb(217, 217, 219);
    border-radius: 100px;
} 

h1 {
    margin-bottom: 0px;
    letter-spacing: -1px;
}
h2 {
    margin-top: 0px;
    font-style: italic;
    color: rgb(124, 121, 121);
    font-weight: 600;
    letter-spacing: 1px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.social-icons {
    width: 20px;
}
}